################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################
/.vs
/.vs/Code-Review-Automation/FileContentIndex/98528d8e-fd17-42d3-b67c-d135667298d6.vsidx
/.vs/Code-Review-Automation/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/Code-Review-Automation/FileContentIndex/231e7bba-0260-4f81-8c51-946129f86a46.vsidx
/.vs/Code-Review-Automation/FileContentIndex/7cc3858c-aabc-4590-ba43-7a9191921cca.vsidx
/.vs/Code-Review-Automation/FileContentIndex/2a6b7f08-43c8-4401-8ded-4ba551336481.vsidx
/.vs/slnx.sqlite
/.vs/Code-Review-Automation/FileContentIndex/6f4dd4fb-9825-488e-bdc1-ef9b6dd7a0c8.vsidx
/.vs/Code-Review-Automation/FileContentIndex/4dff353f-4106-49a7-abb1-69226227dac0.vsidx
/.vs/Code-Review-Automation/FileContentIndex/c821397f-d296-472c-8582-7e3f4d41df0c.vsidx
/.vs/Code-Review-Automation/FileContentIndex/ad020270-bfe1-4df2-ac70-985b5ebd00bd.vsidx
/.vs/Code-Review-Automation/FileContentIndex/6108c011-abef-46f0-89a3-ef2f22867ec3.vsidx
/.vs/Code-Review-Automation/FileContentIndex
