################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Code-Review-Automation/FileContentIndex/98528d8e-fd17-42d3-b67c-d135667298d6.vsidx
